{{range .}}
<div class="worker-row state-{{.State}}" data-id="{{.ID}}">
  <span class="worker-row__dot worker-row__dot--{{.State}}"></span>
  <span class="worker-row__id">{{.ID}}</span>
  <span class="worker-row__bead">{{if ne .BeadID ""}}{{.BeadID}}{{else}}idle{{end}}</span>
  <span class="worker-row__context {{contextClass .ContextPct}}">{{.ContextPct}}%</span>
  <span class="worker-row__heartbeat {{heartbeatClass .LastHeartbeatSecs}}">{{heartbeatLabel .LastHeartbeatSecs}}</span>
</div>
{{end}}
